.selected {
  font: bold;
  font-size: 1.4rem;
}

.selected:hover {
  pointer-events: fill;
}

.paginator {
  margin: 10px;
}
.pageNumber {
  padding: 2px;
  border: 1px solid gray;
}

.pageNumber.selectedPage {
  font-weight: bold;
  border-color: black;
  background-color: chartreuse;
}
